

.contact {

    &__content{
       @extend %bg-images;
        min-height: calc(100vh - 100px);    
    }

    &__contact-data{
        @include maxWidthCenter(850px);
        padding-top: 60px;
        text-align: center;

        &__heading{
            @include heading(30px);
        }
        &__text{
            margin-top: 20px;
        }
        &__form{
            margin-top: 20px;
        }
        &__form-control{
            margin-top: 10px;
            padding: 0 10px;
            height: 35px;
            width: 100%;
            background-color: $form-bg;
            font-size: 11px;
        }
        &__form-control::placeholder{
            color:$placeholder;
        }
        &__form-control--textarea{
            height:55px;
            padding: 10px;
        }
        &__btn{
            @extend %btn;
            margin-top: 37px;
        }
    }
    
}

@media screen and (min-width:700px){
    .contact{

        &__content{
            background-size: 135px 199px;
        }
        &__contact-data{
            padding-top: 25px;
            
            &__heading{
                font-size: 45px;
            }
            &__form{
                margin-top: 30px;
            }
            &__form-control{
                margin-top: 20px;
                height: 45px;
                padding: 0 20px;
                font-size: 14px;
            }
            &__form-control--textarea{
                height:90px;
                padding: 10px 20px;
            }
            &__btn{
                margin-top: 37px;
            }
        }
        
    }
}

@media screen and (min-width:1000px){

    .contact{
        &__contact-data{
            padding-top: 70px;

            &__form-control{
                height: 55px;
                padding: 0 40px;
            }
            &__form-control--textarea{
                height: 135px;
                padding: 20px 40px;
    
            }
        }
    }

}