.home{

    &__content{
        min-height:calc( 100vh - 100px);
        padding-bottom: 40px;
        
        &__img{
            @include maxWidthCenter(400px);
            width: 100%;
            height: 256px;
            position: relative;
            flex-shrink: 0;
            overflow: hidden;
            transform: scale(0.5);
            position: relative;

            & img{
                margin-left: -10px;
                margin-top: -25px;
                width: 115%;
                height: 115%;
                visibility: hidden;
                position: relative;
                top:0;
                left:0;
            }
            & canvas{
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left:0;

            }
        }

        &__info{
            padding-top: 20px;

            &__heading{
                @include heading(35px,auto,1.1);
            }
            &__text{
                margin-top: 20px;
            }
            &__btn{
                @extend %btn;
                margin-top: 25px;
            }
        }
      
    }
}

@media screen and (min-width:400px){
    .home__content{
       &__img{
            height: 306px;
        }
            
       &__info__heading{
            font-size: 40px;
        }
    }
}

@media screen and (min-width:700px){

    .home__content{
        padding-top: 40px;
        background-image:  
        url('../assets/home/left-top.svg'),
        url('../assets/home/left-top-cover.svg'),

        url('../assets/home/right-top-dots.svg'),
        url('../assets/home/right-top.svg'),
        url('../assets/home/right-top-cover.svg'),
        url('../assets/home/right-bottom-cover.svg'),
        url('../assets/home/right-bottom-dots.svg'),
        url('../assets/home/right-bottom.svg');
    
        background-position:  left top,
        left top,
        right 20px top,
        right 70px top,
        right top,
        right -40px bottom -40px ,
        right bottom 20px,
        right -10px bottom -10px ;
        background-size: 100px 150px;
        background-repeat: no-repeat;
        
        & .center-wrapper{
            display: flex;
            justify-content: space-between;
        }
        &__img{
            margin-top: 20px;
            width: 45%;
        }
        
        &__info{
            padding-left: 25px;

            &__heading{
                font-size: 45px;
            }
            &__btn{
                margin-top: 35px;
            }
        }
        
    }

}

@media screen and (min-width:1000px){

    .home__content{
        background-size: 130px 200px;

        & .center-wrapper{
            padding-top: 20px;
        }

        &__img{
            width: 502px;
            height: 526px;

            &::before,
            &::after{
                width:120px;
                height: 150px;
            }
            &::after{
                bottom:70px;
                left:110px;
            }
            &::before{
                top:110px;
                left:80px;
            }
            & img{
                margin-top: -70px;
                height: 120%;
            }

        }
        
        &__info{
            width:50%;
            flex-shrink: 0;

            &__heading{
                font-size: 60px;
            }
            &__text{
                margin-top: 40px;
                font-size: 20px;
            }
            &__btn{
                margin-top: 47px;
            }
        }
     
    }

}

@media screen and (min-width:1150px){
    .home__content{
        background-size: initial;
    }
}