%bg-images{
    background-image: url('../assets/contact/top-left.svg'), url('../assets/contact/top-left-cover.svg'), 
    url('../assets/contact/bottom-right.svg'), url('../assets/contact/bottom-right-cover.svg'),
    url('../assets/contact/bottom-left.svg'), url('../assets/contact/bottom-left-cover.svg'),
    url('../assets/contact/top-right.svg'), url('../assets/contact/top-right-dots.svg'),url('../assets/contact/top-right-cover.svg');
    
    background-position: left  top , left  top ,
    right bottom -25px, right bottom -25px,
    left  bottom -25px , left bottom -25px,
    right  top , right top, right top;
    background-repeat: no-repeat;
    background-size: 95px 139px;
    min-height: calc(100vh - 100px);


    @media screen and (min-width:1000px){
        background-position: left 70px top 80px, left 70px top 170px,
        right 45px bottom 15px, right 20px bottom -10px,
        left 20px bottom , left bottom -30px,
        right -10px top -10px, right top 70px, right top;
        background-size: 165px 239px;
    }
}

%btn{
    padding: 12px 25px;
    background-color: $btn-bg;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transform:scale(0);
    
    @media screen and (min-width:900px){
        font-size: 18px;
    }
}
